# package directories
node_modules
jspm_packages

# Dist directories
.webpack

#Phpstorm
.idea

#Visual Studio Code
.vscode

#lock
yarn.lock
package-lock.json

# Teste Coverage
coverage

# Logs
yarn-error.log
